.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-div {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.description {
    margin-bottom: 20px;
}

.author-comment {
    margin-bottom: 20px;
    font-style: italic;
    color: #777;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    margin-bottom: 20px;
}

.rating > input {
    display: none;
}

.rating > label {
    display: inline-block;
    padding: 0 1px;
    font-size: 40px;
    color: #ddd;
    cursor: pointer;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input:checked ~ label {
    color: #fdd835;
}