.edit-username {
    cursor: pointer;
    padding-top: 1%;

}
.edit-username:hover {
    color: blue;
}

.upload-avatar i {
    color: white;
    font-size: 24px;
}

.profile-info-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hidden {
    display: none;
}

.edit-username {
    cursor: pointer;
    margin-left: 10px;
}

#usernameInput {
    font-family: inherit;
    font-size: inherit;
    border: solid 0.5px;
    outline: none;
    background: none;
    width: auto;
    padding: 0;
}

#bioInput {
    resize: none;
    width: 100%;
}

.profile-avatar {
    position: relative;
    display: inline-block;
}

#avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
.upload-avatar i {
    color: white;
    font-size: 24px;
}

.upload-avatar {
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#avatarContainer:hover .upload-avatar {
    display: flex;
}